<header>
    <nav class="navbar">
        <a href="index" class="logo"> shapeshift hq </a>
        <div class="nav-links">
            <ul>
                <li>
                    <a href="index" class="active"> home </a>
                </li>
                <li>
                    <a href="workout-plans"> workout plans </a>
                </li>
                <li>
                    <a href="#"> nutrition </a>
                </li>
                <li>
                    <a href="#"> log in </a>
                </li>
                <li>
                    <a href="#"> menu </a>
                </li>
            </ul>
        </div>
        <img src="img/menu-btn.png" alt="menu button" class="menu-hamburger">
    </nav>
</header>